.form-container{

    background:white;
    border-radius:16px;

    padding:28px;
    width: 100%;
    box-shadow:0 4px 12px rgba(15,23,42,.08);
}

.form-container form{

    display:flex;
    flex-direction:column;
    gap:18px;
}

.form-container h2{

    margin-bottom:10px;
}

form label{

    display:flex;
    flex-direction:column;

    gap:8px;
    
    font-size: 15px;
    font-weight:600;
}

.form-container input,
.form-container select{
    width:100%;
    padding:12px;
    border:1px solid #E2E8F0;
    border-radius:12px;
    background:#fff;
    font-family:inherit;
}

form input:focus,
form select:focus{

    outline:none;

    border-color:#2563EB;
    box-shadow:0 0 0 3px rgba(37,99,235,.15);
}

.add-edit-btn{

    margin-top:10px;

    width:100%;

    padding:14px;

    background:#2563EB;

    color:white;

    border:none;

    border-radius:12px;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.2s;
}

.add-edit-btn:hover{

    background:#1D4ED8;
    transform:translateY(-1px);
}
.disabled{
    cursor: not-allowed;
}
@media(max-width:600px){
    .form-container{
        padding: 20px;
    }
}