.search-bar{

    width:100%;
}

.search-bar input{

    width:100%;

    padding:14px 18px;

    border-radius:14px;

    border:1px solid #CBD5E1;

    font-size:16px;

    transition:.2s;
}

.search-bar input:focus{

    outline:none;

    border-color:#2563EB;
}