.summary-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 24px;

    margin: 32px 0;

}

.task-count-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   

    
}

.task-count-container div {
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(15, 23, 42, .08);
    border-left: 4px solid #2563EB;
    background-color: white;
}

.summary-header {
    margin: 20px;
}

.p-container,
.c-container,
.duedate-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(15, 23, 42, .08);
   
}

.summary-container p {
    margin: 2px 0;
}
@media (max-width:900px){
    .summary-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:600px) {
    .summary-container{
        grid-template-columns: 1fr;
    }
}